.welcome-container {
    padding-top: 40px; /* Adjusted the padding for the title */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://th.bing.com/th/id/OIP.uKiSvCRI5JKCrMGxfZ6MwwHaEK?pid=ImgDet&rs=1');
    background-size: 400% 100%;
    animation: gradient 10s linear infinite; /* Slower transition */
  }
  
  @keyframes gradient {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .welcome-content {
    text-align: center;
    color: #fff;
    box-shadow: 0 10px 20px darkblue;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    height: 40%;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 54px;
    margin-bottom: 50px;
    justify-content: center;
    padding-top: 20 px;
  }
  
  .welcome-gesture {
    max-width: 200%;
    max-height: 200%;
  }
  